.chatbox-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 20px;

  /* Centering in viewport */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.chatbox-history {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  max-height: 100%;

}

.chatbox-history::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}

.message-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.message-bubble {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.user .message-bubble {
  background-color: #c8f7c5;
  color: #000;
  align-self: flex-end;
}

.ai .message-bubble {
  background-color: #f0f0f0;
  color: #000;
  align-self: flex-start;
}

.chatbox-input-area {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 10px;
}

.chatbox-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  color: #000;
}

.chatbox-input:focus {
  outline: none;
}

.send-button, .audio-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.user{
  justify-content: flex-end;
}

.ai{
  justify-content: flex-start;
}
